html {
  height: 100%;
  width: 100%;
}
.first,.second,.third {
 
/*  border: 1px solid black; */
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
}
.lgf li:hover {
	background-color: #aeadad;
}

.second .post {
	position: relative;
}

.second .post span {
	position: absolute;
	top: 0;
	left: 0;
}

.second .post .reactions i {
  display: inline;
}